@page
@model RifaDeliverySystem.Web.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar correo";
}

<h1>@ViewData["Title"]</h1>

@if (Model.StatusMessage != null)
{
    <div class="alert alert-success">
        @Model.StatusMessage
    </div>
}
else
{
    <div class="alert alert-danger">
        Ha ocurrido un error al confirmar tu correo.
    </div>
}
