################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RifaDeliverySystem.Web/bin/Debug/net6.0
/RifaDeliverySystem.Web/obj
/RifaDeliverySystem.Web/bin/Release/net6.0/win-x64
/.vs
