@using RifaDeliverySystem.Web.Models
@model RifaDeliverySystem.Web.Models.Payment

<tr class="payment-row">
    <td>
        <select asp-for="Type" class="form-select"
                asp-items="Html.GetEnumSelectList<PaymentType>()">
        </select>
    </td>
    <td>
        <input asp-for="Amount" class="form-control money-input payment-amount" />
    </td>
    <td>
        <input asp-for="ReceiptNumber" class="form-control" />
    </td>
    <td>
        <button type="button" class="btn btn-sm btn-danger remove-row">
            <i class="bi bi-x"></i>
        </button>
    </td>
</tr>
