@model RifaDeliverySystem.Web.Models.RaffleEdition
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Nueva Edición de Rifa";
}
@using System.Globalization
@{
    CultureInfo.CurrentCulture = new CultureInfo("es-PY");
    CultureInfo.CurrentUICulture = new CultureInfo("es-PY");
}

<h1>@ViewData["Title"]</h1>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Year" class="form-label"></label>
        <input asp-for="Year" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Number" class="form-label"></label>
        <input asp-for="Number" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
